/* BASIC SET UP */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----- RESUABLE COMPONENTS ------ */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ---------- HEADER --------- */
header {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.video {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index:-1
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h1, h2, h3 {
  font-weight: 300;
  /* text-transform: uppercase; */
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%; /* % of html font-size */
  word-spacing: 3px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2:after { /* will appear after element */
  display: block;
  height: 4px;
  background-color: #E03A74; /* pink */
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}

h3 {
  font-size: 100%;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h4:after { /* will appear after element */
  display: block;
  height: 2px;
  background-color: #E03A74; /* pink */
  content: " ";
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*-------- PARAGRAPH ------------*/

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}


.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ---------- HEADER BUTTON STYLING ----------- */
.btn:link,
.btn:visited,
input[type=submit] {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 30px;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #E03A74; /* pink */
  color: black;
  border: 1px solid black;
}

/* ------- FEATURES ---------- */

.section-features .long-copy {
  margin-bottom: 30px;
}

/* ------ NAVIGATION BAR ----------*/

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
  top: 0;
}

.main-nav li {
  display: inline-block; /*side by side */
  margin-left: 40px;
}

.main-nav li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  padding-bottom: 2px;
}

.main-nav li a:hover,
.main-nav li a:active {
  color: #E03A74;
  border-bottom: 2px solid #E03A74; /* pink */

}

/* ----- STICKY NAVIGATION ----- */

  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(5, 16, 33, 0.90);
    box-shadow: 0 2px 2px #E03A74;
    z-index: 9999; /* always on top */
  }

  .sticky .main-nav {
    margin: 18px;
  }

  .sticky .main-nav li a {
    color: #fff;
  }

  .sticky .main-nav li a:hover {
    color: #E03A74;
  }

/* ----- MOBILE NAVIGATION ----- */

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* ----- ICONS ---- */

.icon-big {
  font-size: 300%;
  display: block;
  color: #E03A74; /* pink */
  margin-bottom: 50px;
  margin-left: 35%;
  margin-right: 50%;
}

.btn-full i {
  padding-left: 20px;
}

/* ---------- ABOUT SECTION ------- */

.section-about {
  background-color: #EFEFEF /* light grey */
}

.katie-photo {
  width: 60%;
  border: solid 2px black;
  margin-left: 60px;
  margin-top: 40px;
  border-radius: 10%;
}

.about-text p {
  margin-top: 40px;
  text-align: inherit;
}

.full-rectangle {
  margin-top: 70px;
}

.rectangle1 {
  background: #E03A74;
  float: left;
  height: 30px;
  width: 93%;
  margin-top: 10px;
}

.rectangle-white1 {
  display: inline-block;
  background: white;
  height: 30px;
  width: 7%;
  margin-top: 10px;
}

.rectangle2 {
  background: #E03A74;
  float: left;
  height: 30px;
  width: 90%;
  margin-top: 10px;
}

.rectangle-white2 {
  display: inline-block;
  background: white;
  height: 30px;
  width: 10%;
  margin-top: 10px;
}

.rectangle3 {
  background: #E03A74;
  float: left;
  height: 30px;
  width: 83%;
  margin-top: 10px;
}

.rectangle-white3 {
  display: inline-block;
  background: white;
  height: 30px;
  width: 17%;
  margin-top: 10px;
}

.rectangle4 {
  background: #E03A74;
  float: left;
  height: 30px;
  width: 70%;
  margin-top: 10px;
}

.rectangle-white4 {
  display: inline-block;
  background: white;
  height: 30px;
  width: 30%;
  margin-top: 10px;
}

.rectangle5 {
  background: #E03A74;
  float: left;
  height: 30px;
  width: 75%;
  margin-top: 10px;
}

.rectangle-white5 {
  display: inline-block;
  background: white;
  height: 30px;
  width: 25%;
  margin-top: 10px;
}

.rectangle6 {
  background: #E03A74;
  float: left;
  height: 30px;
  width: 55%;
  margin-top: 10px;
}

.rectangle-white6 {
  display: inline-block;
  background: white;
  height: 30px;
  width: 45%;
  margin-top: 10px;
}

.rectangle7 {
  background: #E03A74;
  float: left;
  height: 30px;
  width: 95%;
  margin-top: 10px;
}

.rectangle-white7 {
  display: inline-block;
  background: white;
  height: 30px;
  width: 5%;
  margin-top: 10px;
}

.rectangle8 {
  background: #E03A74;
  float: left;
  height: 30px;
  width: 75%;
  margin-top: 10px;
}

.rectangle-white8 {
  display: inline-block;
  background: white;
  height: 30px;
  width: 25%;
  margin-top: 10px;
}

.rectangle-text {
  font-size: 80%;
  color: white;
  padding-left: 5px;
  padding-top: 5px;
}

.percentage-text {
  display: inline;
  float: right;
  color: grey;
  font-size: 80%;
  padding-top: 5px;
  padding-right: 5px;
}

/* ---- TECH SECTION ----*/

.section-technical {
  background-color: #D3D3D3; /* dark grey */
  color: #fff;
}

.projects a {
  color: #E0E1E2;
  font-size: 16px;
}

.projects img {
  box-shadow: 0 2px 2px #9B9A9A;
}

/* --------- BLOG SECTION --------- */

.section-blog {
  background-color: #EFEFEF; /* light grey */
  color: black;
}

.blog-box {
  padding-bottom: 60px;
}

.blog-box:hover {
  opacity: .6;
}

.blog-box:hover a{
  /*opacity: .8;*/
  color: #E03A74;
}

.box img {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}

.blog-feature {
  margin-bottom: 5px;
}

.blog-feature a {
  text-decoration: none;
  color: black;
  padding-bottom: 1px;
}

/* ---- FITNESS SECTION ----*/

.section-fitness {
  background-color: #EFEFEF; /* light grey */

}

.fitness img {
  width: 80%;
  height: auto;
}

/* ----- FORM SECTIONS ---- */

.section-form {
  background-color: #D3D3D3; /* darker grey */
  color: black;
  text-align: center;
}

.contact-form {
  width: 75%;

}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  position: relative;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #d1d1d0;
}

textarea {
  height: 100px;
}

.btn-submit {
  float: right;
}
*:focus {outline:none}


/* ----- FOOTER ----- */


footer {
  background-color: #2C2D2F; /* dark grey */
  color: #888;
  padding: 40px;
  font-size: 100%;
}

.footer h3 {
  text-align: center;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: white;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 200%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram {
  transition: color 0.2s;
}
.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-ios-paper-outline:hover {
  color: #dd4b39;
}
.ion-social-instagram:hover {
  color: #517fa4;
}
footer p {
  color: #888;
  font-size: 90%;
  margin-top: 10px;
  text-align: center;
}


/* ----- ANIMATIONS ----- */

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-5 {
  opacity: 0;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-5.animated {
  opacity: 1;
  transition: 1.5s;
}
